.nav-link {
    cursor: pointer;
}
.nav {
    margin-bottom: 16px;
}
.nav-item {
    border-bottom: 1px solid #dee2e6;
    margin-bottom: 8px;
}
.nav-tabs {
    border: none;
}
.disabled {
    color: #C0C0C0;
}